<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Club House</title>
  </head>
  <body>
    <h1>WELCOME TO THE CLUB-HOUSE.</h1>
    <% if(locals.user) {%>
      <p>Welcome back <%= user.firstname %></p>
      <% if(!user.ismember) { %>
        <p><a href="/become-member">Become a member</a> to see usernames and added date.</p>
      <% } %>
      <button><a href="/add-message">Add messages</a></button>
      <br>
      <button><a href="/log-out">Log Out</a></button>
      <% } else{ %> 
        <p>Log-in to add messages.</p>
    <form action="/log-in" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
      <button type="submit">Log-in</button>
    </form>
    <a href="/sign-in">I don't have an account!!</a>
    <% } %>
<% if (locals.messages) { %>
  <ul>
    <% locals.messages.forEach(message => { %>
      <li>
        <%= message.message %>
        <% if(locals.user) {%>
          <% if(user.ismember)  {%>
          added by: <%= message.userName %> at: <%= message.creationDate %>
        <% } %>
           <% if(user.isadmin) { %> 
            <button><a href="<%= `/delete/${message.msgId}`%>">Delete</a></button>
          <% } %>
          <% } %>
      </li>

    <% }); %>
  </ul>
<% } else { %>
  <p>Unable to retrieve messages</p>
<% } %>

  </body>
</html>
